#pages {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80em;
  background-color: #ffffff;
}
#burgers-on-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15em;
}
#burgers-on-table img {
  width: 30%;
  height: 100%;
  -webkit-user-drag: none;
}
#forYou {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#forYou h1 {
  font-size: 2em;
  font-weight: 700;
  color: #0a0909;
}
#foryou-p {
  font-size: 1em;
  font-weight: 300;
  color: #0a0909;
}
#burgerPrices {
  height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#col {
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#col img {
  width: 8em;
  height: 8em;
  -webkit-user-drag: none;
}
#col #colInner {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#col #colInner h1 {
  font-size: 1.8em;
  font-weight: 700;
  color: #0a0909;
}
#col #colInner #price {
  color: #e42c19;
  font-style: italic;
}
#col p {
  color: #0a0909;
}
#seeMoreBtn {
  background-color: #e42c19;
  color: #ffffff;
  border: none;
  border-radius: 0.4em;
  width: 8em;
  height: 3em;
}

@media (max-width: 768px) {
  #pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 210em;
  }
  #burgers-on-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60em;
  }
  #burgers-on-table img {
    width: 90%;
    height: 15em;
    -webkit-user-drag: none;
  }
  #forYou {
    height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #forYou h1 {
    font-size: 2em;
    font-weight: 700;
    color: #0a0909;
  }
  #foryou-p {
    font-size: 1.2em;
    font-weight: 300;
    color: #0a0909;
  }
  #burgerPrices {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #row {
    height: auto;
  }
}

/* Screens lower than 1000px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 160em;
  }
  #burgers-on-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80em;
  }
  #burgers-on-table img {
    width: 23em;
    height: 23em;
    -webkit-user-drag: none;
  }
  #forYou {
    height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #forYou h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #0a0909;
  }
  #foryou-p {
    font-size: 1.4em;
    font-weight: 300;
    color: #0a0909;
  }
  #burgerPrices {
    height: 80em;
    display: flex;
    flex-direction: column;
  }
  #row {
    height: auto;
  }
  #seeMoreBtn {
    background-color: #e42c19;
    color: #ffffff;
    width: 10em;
    height: 3em;
    font-size: 1.2em;
  }
}
